body{
    background-color: #042666;
    font-family: 'Indie Flower', cursive; 
}
.navbar-brand{
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: bolder;
}
h1{
    color: azure;
    letter-spacing: 1.5px;
    text-align: center;
}
.container{
    width: 70%;
    margin: 200px 10;
    text-align: center;
    background-color: #65737e;
    padding: 4%;
  }
  img{
      width: 100%;
  }
.container img{
    max-width: 80vh;
    padding: 4px;
}
#elementos{
    padding: 2%;
}
#elementos .elemento{
    border: 2px solid #c0c5ce;
    padding: 10px;
    text-align: center;
}
#elementos .elemento a{
    padding: 20px;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 7vh;
    text-align: center;
    
}